<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do Application</title>
</head>
<body>
<h2>Add Task</h2>
<form action="/todo/create" method="post">
    <table>
        <tbody>
        <tr>
            <td><input type="text" name="name"/></td>
            <td><input type="submit" value="Add"/></td>
        </tr>
        </tbody>
    </table>
</form>
<h2>To Do List</h2>
<table border="1">
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.name}"/>
        <td><span th:if="${task.completed}" th:text="Completed"/></td>
        <td>
            <span th:unless="${task.completed}">
            <form action="/todo/complete" method="post">
                <input type="hidden" name="id" th:value="${task.id}"/>
                <input type="submit" value="Complete"/>
            </form>
            </span>
        </td>
        <td>
            <form action="/todo/delete" method="post">
                <input type="hidden" name="id" th:value="${task.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>